body{
    background-color: #faf1f1;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Fuggles', cursive;
    font-family: 'League Spartan', sans-serif;
    
}

.header{
    background-color: rgb(5, 23, 31);
}

.headerone{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.logo img{
    width: 120px;
    border-radius: 2cm;
    box-shadow: 5px -5px 7px rgb(141, 208, 235),5px 5px 7px rgb(141, 208, 235);
}

.headerlinks ul{
    display: flex;
    align-items: center;
}

.headerlinks li{
    list-style: none;
    color: #d9ecf5;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif; ;
    
}

.headerlinks ul #shoppingbag{
    width: 40px;
}

.headertwo{
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
    color: rgb(187, 236, 236);
}

.headertwo .leftcontent h2{
    font-size: 35px;
    font-weight: 550;
    font-family: 'Quick sand',sans-serif ;
    padding: 0;
}

.headertwo .leftcontent p{
    margin-top: none;
    font-size: 22px;
    font-family: 'League Spartan', Times, serif;
}

.headertwo .leftcontent button{
    font-size: 14px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Fuggles', cursive;
    font-weight: 600;
    background-color:rgb(187, 236, 236);
    border-radius: 5px;
    width: 90px;
}

.headertwo .rightcontent img{
    width: 250px;
    margin-right: 25px;
    border-radius: 0.2cm;
}

.products{
    display: flex;
    flex-wrap: wrap;
    background-color: #c8d2d6;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
}

.items img{
    margin-top: 10px;
    width: 250px;
    border-radius: 0.2cm;
}

.items #beltsNwallets{
    height: 333px;
}

.items p{
    font-family: 'Fuggles',sans-serif;
    font-weight: 800;
    font-size: 25px;
}